.img-responsive{
    max-height: 80px;
      opacity: 0.5;
      filter: brightness( 100% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
      max-width: 100%;
      max-width: -moz-available;          /* For Mozzila */
      max-width: -webkit-fill-available;  /* For Chrome */
      max-width: stretch;
  }
  
  .img-responsive:hover{
    opacity: 1;
    filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
  }
  

  .dark:hover {
    color: #b0b6bb !important;
    text-decoration: none;
  }