
<div class="h-100">
    <div class="col-sm-12 mt-2 mb-0 card card-block mx-auto padding-0">
        <div class="card-body no-padding">
            <div class="row pt-3 pb-3">
                <div class="offset-md-3 col-md-6 center-elements">
                    <div class=""><!--text-center-->
                        <h2 class="mt-4">Rare Diseases <span class="text-bold-500 d-block" style="font-size: 2rem !important;">Hub Ukraine</span></h2>
                        <p class="">{{'landraito.title' | translate }}</p>
                    </div>
                    <button (click)="goTo()" class="btn btn-dark mt-3 btn-lg" title="{{'landraito.button' | translate }}">
                        <strong class="menu-title">{{'landraito.button' | translate }}</strong>
                    </button>
                </div>
                <div class="col-md-12 center-elements">
                    
                </div>
            </div>
            <div class="row pt-3 pb-3">
                <div class="row offset-lg-3 col-lg-6 margin-0 mb-4 text-center">
                    <div class='col-md-12 pb-3'>
                        <h3 class="text-bold-500 mt-4">{{'landraito.Contact us if' | translate }}</h3>
                    </div>
                    <div class="col-md-6">
                        <div class="center-elements">
                            <img src='assets/img/land/pati.png' style="height: 60px;"/>
                        </div>
                        <h5 class="text-bold-500 blue" style="margin-top: 0.75rem;">{{'landraito.t1.1' | translate }}</h5>
                        <p class="m-2">
                            {{'landraito.p1.1' | translate }}
                        </p>
                        <p class="m-2">
                            {{'landraito.p1.2' | translate }}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="center-elements">
                            <img src='assets/img/land/clin.png' style="height: 60px;"/>
                        </div>
                        <h5 class="text-bold-500 blue" style="margin-top: 0.75rem;">{{'landraito.t1.2' | translate }}</h5>
                        <p class="m-2">
                            {{'landraito.p1.3' | translate }}
                        </p>
                        <p class="m-2">
                            {{'landraito.p1.4' | translate }}
                        </p>
                    </div>
                    <div class="col-md-12 center-elements">
                        <button (click)="goTo()" class="btn btn-dark mt-4 btn-lg" title="{{'landraito.button' | translate }}">
                            <strong class="menu-title">{{'landraito.button' | translate }}</strong>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="row pt-3 pb-3" style="background: #f5f5f5;">
                <div class="row offset-lg-1 col-lg-10 mb-4 margin-0 text-center">
                    <div class="col-lg-12">
                        <h3 class="text-bold-500 mt-4 pb-3">{{'landraito.t2' | translate }}</h3>
                        <div class="row mt-3">
                            <div class="col-md-4 mt-2">
                                <span class="circleblue">1</span>
                                <h5 class="text-bold-500 mt-2 blue">{{'landraito.t2.1t' | translate }}</h5>
                                <p>{{'landraito.t2.1a' | translate }}</p>
                            </div>
                            <div class="col-md-4 mt-2">
                                <span class="circleblue">2</span>
                                <h5 class="text-bold-500 mt-2 blue">{{'landraito.t2.2t' | translate }}</h5>
                                <p>{{'landraito.t2.2a' | translate }}</p>
                            </div>
                            <div class="col-md-4 mt-2">
                                <span class="circleblue">3</span>
                                <h5 class="text-bold-500 mt-2 blue">{{'landraito.t2.3t' | translate }}</h5>
                                <p>{{'landraito.t2.3a' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a id="waysoptions" class="akey"></a>
            <div class="row pt-3 pb-3 offset-lg-1 col-lg-10 mb-4 margin-0 text-center">
                <div class='col-md-12 pb-3'>
                    <h3 class="text-bold-500 mt-4">{{'landraito.t3.title' | translate }}</h3>
                </div>
                <div class="col-lg-4 mt-3 center-elements element-option">
                    <div>
                        <img class="" style="width: 80px;" src='assets/img/land/app.png'/>
                    </div>
                    <div class="center-browsers mt-2">
                        <div style="max-width: 300px;">
                            <div class="h-90">
                                <p>{{'landraito.t3.1' | translate }}</p>
                            </div>
                            <a routerLink="/login" class="btn btn-dark" style="min-width: 220px;" title="{{'landraito.button' | translate }}">
                                <strong class="menu-title">{{'login.Login' | translate }}</strong>
                            </a>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-4 mt-3 center-elements element-option">
                    <div>
                        <img class="" style="width: 80px;" src='assets/img/land/mail.png'/>
                    </div>
                    <div class="center-browsers mt-2">
                        <div style="max-width: 300px;">
                            <div class="h-90">
                                <p>{{'landraito.t3.2' | translate }}</p>
                            </div>
                            <a class="btn btn-dark" style="min-width: 220px;" mailto="rarediseaseshub4ua@sjd.es" href="mailto:rarediseaseshub4ua@sjd.es"><strong>rarediseaseshub4ua@sjd.es</strong></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-3 center-elements element-option">
                    <div>
                        <img class="" style="width: 80px;" src='assets/img/land/phone.png'/>
                    </div>
                    <div class="center-browsers mt-2">
                        <div style="max-width: 300px;">
                            <div class="h-90">
                                <p class="mb-0">{{'landraito.t3.3.1' | translate }} </p>
                                <p>{{'landraito.t3.3.2' | translate }}</p>
                            </div>
                            <a class="btn btn-dark" style="min-width: 220px;" href="tel:+34 93 600 61 11"><strong>+34 93 600 61 11</strong></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3 pb-3 white" style="background: #005bbb;">
                <div class="row offset-md-4 col-md-4 offset-sm-3 col-sm-6 mb-4 margin-0 text-center">
                    <div class='col-md-12'>
                        <h3 class="text-bold-500 mt-4">{{'landraito.t4.title' | translate }}</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="">
                            <p>{{'landraito.t4.1' | translate }} <a class="white" style="text-decoration: underline;" mailto="rarediseaseshub4ua@sjd.es" href="mailto:rarediseaseshub4ua@sjd.es"><strong>rarediseaseshub4ua@sjd.es</strong></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3 pb-3 offset-lg-1 col-lg-10 mb-4 margin-0 text-center">
                <div class='col-md-12 pb-3'>
                    <h3 class="text-bold-500 mt-4">{{'landraito.t5.title' | translate }}</h3>
                </div>
                <div class='row col-md-12'>
                    <div class="col-lg-3 mb-3 p-1">
                        <a href="https://missionkharkiv.com/" target="_blank" class="dark">
                            <img class="img-responsive" src='assets/img/land/logos/partners/logo-mission kharkiv.png'>
                        </a>
                    </div>
                    <div class="col-lg-3 mb-3 p-1">
                        <a href="https://www.juanciudad.org/" target="_blank" class="dark">
                            <img class="img-responsive" src='assets/img/land/logos/partners/Logo-juan-ciudad.png'>
                        </a>
                    </div>
                    <div class="col-lg-3 mb-3 p-1">
                        <a href="https://www.share4rare.org/" target="_blank" class="dark">
                            <img class="img-responsive" src='assets/img/land/logos/partners/Logo-share4rare.png'>
                        </a>
                    </div>
                    <div class="col-lg-3 mb-3 p-1">
                        <a href="https://www.eurordis.org/" target="_blank" class="dark">
                            <img class="img-responsive" src='assets/img/land/logos/partners/Logo-eurordis.png'>
                        </a>
                    </div>
                </div>
            </div>  
            <div class="row pt-3 pb-3" style="background: #f5f5f5;">
                <div class="row offset-lg-1 col-lg-10 mb-4 margin-0 text-center">
                    <div class='col-md-12'>
                        <h3 class="text-bold-500 mt-4 pb-3">{{'landraito.t6.title' | translate }}</h3>
                    </div>
                    <div class="col-md-12 pb-3">
                        <div class="row center-elements">
                            <div class="col-lg-4 mb-3 p-1">
                                <img class="img-responsive rounded-circle" src='assets/img/land/logos/team/SJD_3655.jpg' style="max-height: 200px !important;">
                                <span class="d-block mt-2"><strong>Aranzazu Uriarte Calvo</strong></span>
                                <span class="d-block">Manager & Coordinator</span>
                            </div>
                            <div class="col-lg-4 mb-3 p-1">
                                <img class="img-responsive rounded-circle" src='assets/img/land/logos/team/SJD_3660.jpg' style="max-height: 200px !important;">
                                <span class="d-block mt-2"><strong>Liudmyla Kuziuk</strong></span>
                                <span class="d-block">Clinical Advisor</span>
                            </div>
                            <div class="col-lg-4 mb-3 p-1">
                                <img class="img-responsive rounded-circle" src='assets/img/land/logos/team/SJD_3652.jpg' style="max-height: 200px !important;">
                                <span class="d-block mt-2"><strong>Iuliia Cherniak</strong></span>
                                <span class="d-block">Front-line Operator</span>
                            </div>
                            <div class="offset-lg-2 col-lg-4 mb-3 p-1">
                                <img class="img-responsive rounded-circle" src='assets/img/land/logos/team/SJD_3651.jpg' style="max-height: 200px !important;">
                                <span class="d-block mt-2"><strong>Celia Calvo Aroca</strong></span>
                                <span class="d-block">Organization Hunter</span>
                            </div>
                            <div class="col-lg-4 mb-3 p-1">
                                <img class="img-responsive rounded-circle" src='assets/img/land/logos/team/SJD_3666.jpg' style="max-height: 200px !important;">
                                <span class="d-block mt-2"><strong>Olivia Stoicev Stefoglo</strong></span>
                                <span class="d-block">Organization Hunter & Communications Officer</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row pt-3">
                <div class="row pt-4 offset-lg-2 col-lg-8 margin-0 text-center">
                    <section style="padding-bottom: 40px !important;" class="col-lg-12">
                        <p class="mb-3 offset-sm-2 col-sm-8">{{'landraito.t4.2' | translate }}</p>
                        <div class="row center-elements">
                            <div class="col-4 col-lg-3 mb-3 p-1">
                                <a href="https://european-union.europa.eu/" target="_blank" class="dark">
                                    <img class="img-responsive" src='assets/img/land/logos/eu_flag.jpg' style="max-height: 67px !important;">
                                </a>
                                
                              </div>
                            <div class="col-4 col-lg-3 mb-3 p-1">
                                <a href="https://www.erncare4ua.com/" target="_blank" class="dark">
                                    <img class="img-responsive" src='assets/img/land/logos/ern-logo-single.png' style="max-height: 67px !important;">
                                </a>
                            </div>
                            <div class="col-4 col-lg-3 mb-3 p-1">
                                <a href="https://www.echohospitals.org/" target="_blank" class="dark">
                                    <img class="img-responsive" src='assets/img/land/logos/Logo-Echo2017.png' style="max-height: 67px !important;">
                                </a>
                            </div>
                            <div class="col-4 col-lg-3 mb-3 p-1">
                                <a href="https://www.eurordis.org/es" target="_blank" class="dark">
                                    <img class="img-responsive" src='assets/img/land/logos/Logo-eurordis.png' style="max-height: 67px !important;">
                                </a>
                            </div>
                            <div class="offset-lg-2 col-4 col-lg-3 mb-3 p-1">
                                <a href="https://web.gencat.cat" target="_blank" class="dark">
                                    <img class="img-responsive"  src='assets/img/land/logos/salut.png' style="max-height: 67px !important;">
                                </a>
                              </div>
                            <div class="col-4 col-lg-3 mb-3 p-1">
                                <a href="https://foundation29.org" target="_blank" class="dark">
                                    <img class="img-responsive" src='assets/img/land/logos/f29.png' style="max-height: 67px !important;">
                                </a>
                            </div>
                            <div class="col-4 col-lg-3 mb-3 p-1">
                                <a href="https://www.sjdhospitalbarcelona.org" target="_blank" class="dark">
                                    <img class="img-responsive" [src]=iconjsd style="max-height: 67px !important;">
                                </a>
                            </div>
                          </div>
                      </section>
                </div>
            </div>
            <div class="row pt-3" style="background: #f5f5f5;">
                <div class="row offset-lg-1 col-lg-10 margin-0 text-center">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-3">
                                <p>
                                    <a href="javascript:;" (click)="openModal(avisoLegalPanel)">
                                     <span>{{'legal.title' | translate }}</span>
                                    </a>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p>
                                    <a href="javascript:;" (click)="openTerms()">
                                     <span>{{'registration.Privacy Policy' | translate }}</span>
                                    </a>
                                </p>
                                
                            </div>
                            <div class="col-md-3">
                                <p>
                                    <a href="javascript:;" (click)="openModal(cookiesPanel)">
                                        <span>{{'cookies.title' | translate }}</span>
                                       </a>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p>
                                    <a href="https://www.linkedin.com/company/rare-diseases-hub-ukraine/" target="_blank">
                                        <em class="fa fa-linkedin"></em>
                                       </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #avisoLegalPanel let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">{{'legal.title' | translate }}</h4>
		<button type="button" class="close" aria-label="Close" (click)="closeModal()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="px-3">
			<div class="form-body">
				<div class="row">
					<div class="col-sm-12">
                        <h6 class="pt-2 text-bold-600">{{'legal.t1' | translate }}</h6>
                        <p>{{'legal.p1.1' | translate }}</p>
                        <p>{{'legal.p1.2' | translate }}</p>
                        <p>{{'legal.p1.3' | translate }}</p>
                        <h6 class="pt-2 text-bold-600">{{'legal.t2' | translate }}</h6>
                        <p>{{'legal.p2.1' | translate }}</p>
                        <h6 class="pt-2 text-bold-600">{{'legal.t3' | translate }}</h6>
                        <p>{{'legal.p3.1' | translate }}</p>
                        <p>{{'legal.p3.2' | translate }}</p>
                        <p>{{'legal.p3.3' | translate }}</p>
                        <h6 class="pt-2 text-bold-600">{{'legal.t4' | translate }}</h6>
                        <p>{{'legal.p4.1' | translate }}</p>
                        <p>{{'legal.p4.2' | translate }}</p>
                        <h6 class="pt-2 text-bold-600">{{'legal.t5' | translate }}</h6>
                        <p>{{'legal.p5.1' | translate }}</p>
                        <p>{{'legal.p5.2' | translate }}</p>
                        <h6 class="pt-2 text-bold-600">{{'legal.t6' | translate }}</h6>
                        <p>{{'legal.p6.1' | translate }}</p>
                        <p>{{'legal.p6.2' | translate }}</p>
                        <p>{{'legal.p6.3' | translate }}</p>
                        <p>{{'legal.p6.4' | translate }}</p>
                        <p>{{'legal.p6.5' | translate }}</p>
                        <p class="mb-0">{{'legal.p6.6' | translate }}</p>
                        <a mailto="rarediseaseshub4ua@sjd.es" href="mailto:rarediseaseshub4ua@sjd.es">rarediseaseshub4ua@sjd.es</a>
                        <h6 class="pt-2 text-bold-600">{{'legal.t7' | translate }}</h6>
                        <p>{{'legal.p7.1' | translate }}</p>
                    </div>
                </div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #cookiesPanel let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">{{'cookies.title' | translate }}</h4>
		<button type="button" class="close" aria-label="Close" (click)="closeModal()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="px-3">
			<div class="form-body">
				<div class="row">
					<div class="col-sm-12">
                        <h6 class="pt-2 text-bold-600">{{'cookies.t1' | translate }}</h6>
                        <p [innerHTML]="'cookies.p1.1' | translate "></p>
                        <p>{{'cookies.p1.2' | translate }}</p>
                        <h6 class="pt-2 text-bold-600">{{'cookies.t2' | translate }}</h6>
                        <p>{{'cookies.p2.1' | translate }}</p>
                        <h6 class="pt-2 text-bold-600">{{'cookies.t3' | translate }}</h6>
                        <p>{{'cookies.p3.1' | translate }}</p>
                        <h6 class="pt-2 text-bold-600">{{'cookies.t4' | translate }}</h6>
                        <p>{{'cookies.p4.1' | translate }}</p>
                        <h6 class="pt-2 text-bold-600">{{'cookies.t5' | translate }}</h6>
                        <p [innerHTML]="'cookies.p5.1' | translate "></p>
                        <p [innerHTML]="'cookies.p5.2' | translate "></p>
                        <ul>
                            <li>
                                {{'cookies.p5.2.1' | translate }}
                            </li>
                            <li>
                                {{'cookies.p5.2.2' | translate }}
                            </li>
                        </ul>
                        <p>{{'cookies.p5.3' | translate }}</p>
                        <h6 class="pt-2 text-bold-600">{{'cookies.t6' | translate }}</h6>
                        <p>{{'cookies.p6.1' | translate }}</p>

                        <ul class="mt-2">
                            <li>
                                <a href="https://support.google.com/chrome/answer/95647?hl={{lang}}" target="_blank">Google Chrome.</a>
                            </li>
                            <li>
                                <a href="https://support.microsoft.com/{{lang}}/windows/eliminar-y-administrar-cookies-168dab11-0753-043d-7c16-ede5947fc64d" target="_blank">Internet Explorer.</a>
                            </li>
                            <li>
                                <a *ngIf="lang=='es'" href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias" target="_blank">Mozilla Firefox.</a>
                                <a *ngIf="lang=='en'" href="https://support.mozilla.org/en-US/kb/block-websites-storing-cookies-site-data-firefox" target="_blank">Mozilla Firefox.</a>
                                <a *ngIf="lang=='uk'" href="https://support.mozilla.org/uk/kb/%D0%9A%D1%83%D0%BA%D0%B8" target="_blank">Mozilla Firefox.</a>
                            </li>
                            <li>
                                <span *ngIf="lang=='es'">
                                    <a href="https://support.apple.com/es-es/HT201265" target="_blank">Safari iPhone, iPad {{'generics.and' | translate }} iPod touch</a>
                                    {{'generics.and' | translate }} <a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac" target="_blank">Safari iPhone, iPad {{'generics.and' | translate }} Safari para Mac.</a>
                                </span>
                                <span *ngIf="lang=='en'">
                                    <a href="https://support.apple.com/en-en/HT201265" target="_blank">Safari iPhone, iPad {{'generics.and' | translate }} iPod touch</a>
                                    {{'generics.and' | translate }} <a href="https://support.apple.com/en-en/guide/safari/sfri11471/mac" target="_blank">Safari iPhone, iPad {{'generics.and' | translate }} Safari para Mac.</a>
                                </span>
                                <span *ngIf="lang=='uk'">
                                    <a href="https://support.apple.com/uk-ua/HT201265" target="_blank">Safari iPhone, iPad {{'generics.and' | translate }} iPod touch</a>
                                    {{'generics.and' | translate }} <a href="https://support.apple.com/uk-ua/guide/safari/sfri11471/mac" target="_blank">Safari iPhone, iPad {{'generics.and' | translate }} Safari para Mac.</a>
                                </span>
                                
                            </li>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
	</div>
</ng-template>