
<div class="h-100">
    <div class="col-sm-12 my-auto">
        <div class="mt-4 mb-4 card card-block mx-auto" style="max-width: 30rem !important;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-bold-500">{{'landraito.t1' | translate }}</h2>
                        <p class="">{{'landraito.p1' | translate }}</p>
                        <p class="">{{'landraito.p1.1' | translate }}</p>
                        <div class="col-md-12 center-elements">
                            <a routerLink="/login" class="btn btn-dark mt-1" title="I want to join">
                                <strong class="menu-title">{{'landraito.button' | translate }}</strong>
                            </a>
                        </div>
                        <h3 class="text-bold-500 mt-5">{{'landraito.t2' | translate }}</h3>
                        <div class="row mt-3">
                            <div class="col-3 pr-0 pl-0">
                                <img class="w-100" src='assets/img/home/home2.jpg'>
                            </div>
                            <div class="col-9">
                                <h5 class="text-bold-500">1. {{'landraito.t2.1t' | translate }}</h5>
                                <p>{{'landraito.t2.1a' | translate }}</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-3 pr-0 pl-0">
                                <img class="w-100" src='assets/img/home/home3.jpg'>
                            </div>
                            <div class="col-9">
                                <h5 class="text-bold-500">2. {{'landraito.t2.2t' | translate }}</h5>
                                <p>{{'landraito.t2.2a' | translate }}</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-3 pr-0 pl-0">
                                <img class="w-100" src='assets/img/home/home4.jpg'>
                            </div>
                            <div class="col-9">
                                <h5 class="text-bold-500">3. {{'landraito.t2.3t' | translate }}</h5>
                                <p>{{'landraito.t2.3a' | translate }}</p>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3 center-elements">
                            <a routerLink="/login" class="btn btn-dark " title="I want to join">
                                <strong class="menu-title">{{'landraito.button' | translate }}</strong>
                            </a>
                        </div>
                        
                    </div>
                    <section style="padding-bottom: 50px !important;" class="col-lg-12">
                        <h3 class="text-bold-500 mt-5 mb-3">{{'homedx.Institutions' | translate }}</h3>
                        <div class="row center-elements">
                            <div class="offset-3 col-6 col-sm-6 mb-3 p-1">
                                <a href="https://www.ibe-epilepsy.org/" target="_blank" class="dark">
                                    <img class="img-responsive" src='assets/img/home/logos/IBE-Logo.png'>
                                    <span class="d-block">International Bureau for Epilepsy</span>
                                </a>
                                
                              </div>
                            <div class="col-6 col-sm-6 mb-3 p-1">
                                <a href="https://www.worldduchenne.org/" target="_blank" class="dark">
                                    <img class="img-responsive" src='assets/img/home/logos/WDO_Logo_Large.png'>
                                    <span class="d-block">World Duchenne Organization​</span>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 mb-3 p-1">
                                <a href="https://oife.org/" target="_blank" class="dark">
                                    <img class="img-responsive" src='assets/img/home/logos/OIFE_logo_resized-01.png' style="max-height: 67px !important;">
                                    <span class="d-block">Osteogenesis Imperfecta Federation Europe</span>
                                </a>
                            </div>
                            <div class="col-6 col-sm-6 mb-3 p-1">
                                <a href="https://www.sma-europe.eu/" target="_blank" class="dark">
                                    <img class="img-responsive" src='assets/img/home/logos/oopxBx20.png'>
                                    <span class="d-block">Spinal Muscular Atrophy Europe</span>
                                </a>
                              </div>
                            <div class="col-6 col-sm-6 mb-3 p-1">
                                <a href="https://dravet.eu/" target="_blank" class="dark">
                                    <img class="img-responsive" src='assets/img/home/logos/dravet.png'>
                                    <span class="d-block">Dravet Syndrome European Federation</span>
                                </a>
                            </div>
                          </div>
                      </section>
                    <section style="padding-bottom: 50px !important;" class="col-lg-12">
                        <h3 class="text-bold-500 mt-5">{{'land.aboutUs.titlef29' | translate }}</h3>
                        <span class="">
                            <p>{{'land.aboutUs.p1f29' | translate }} <a (click)="openWeb();" href="javascript:void(0)" class="mt-2 mb-1"
                                type="button"><strong>{{'land.aboutUs.Who are we' | translate }}</strong>
                        </a></p>
                          </span>
                      </section>
                    
                </div>
            </div>
        </div>
    </div>
</div>