<div *ngIf="msgList.length > 0">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">{{'support.Messages' | translate }}</div>
    </div>
  </div>
  <section>
    <div class="row">
      <table class="table-bordered table-striped col-md-12 table text-left">
				<thead>
					<tr>
            <th>Email</th>
						<th>{{'support.Subject' | translate }}</th>
						<th>{{'support.Message' | translate }}</th>
						<th>Date</th>
            <th>Issue type</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let msg of msgList ; let i = index">
            <td>{{msg.email}}</td>
						<td>{{msg.subject}}</td>
            <td><span [innerHTML]="msg.description | safe: 'html'" style="white-space: pre-line; display: block;"></span>
              <span class="" *ngIf="lang!='uk'">
                <a href="javascript:;" (click)="goToLink(msg)" class="btn btn-dark mb-0 mt-2"><em class="fa fa fa-language mr-1"></em>{{'war.Translate' | translate }}</a>
              </span>
            </td>
            <td>{{msg.date | date: timeformat}}</td>
            <td>
              <select id="type" name="type" disabled [(ngModel)]="msg.type">
                <option value="technical">{{'support.Technical error' | translate }}</option>
                <option value="doubt">{{'support.I have a question' | translate }}</option>
                <option value="another">{{'support.Another type' | translate }}</option>
              </select>
            </td>
					</tr>
				</tbody>
			</table>
    </div>
  </section>
</div>
<div *ngIf="msgList.length == 0">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">{{'support.Messages' | translate }}</div>
    </div>
  </div>
  <section>
    <div class="row">
      <div class="col-sm-12">
        <p>{{'support.No messages' | translate }}</p>
      </div>
    </div>
  </section>
</div>
